/* 
MELON 3 by https://github.com/raphwriter/
A theme for Trilium (https://github.com/zadam/trilium)
*/

html {
    --color-blue-dark: #264653;
    --color-blue-dark-text: #a0b7c1;
    --color-blue-light: #2a9d8f;      
    --color-blue-light-text: #f0f4f4;
    --color-yellow: #e9c46a; 
    --color-yellow-text: #63583c;
    --color-yellow-bg-alpha: #e9c46a1a; 
    --color-sidebar-yellow-dark: #e1dbce;
    --color-orange-light: #f4a261;
    --color-orange-light-text: #c96a2e;
    --color-orange-dark: #e76f51;
    --color-orange-dark-text: #f2dcd6; 
    --color-gray: #d6d6d6;
    --color-gray-text: #333;
    --color-gray-light: #f5f5f5;
    --color-gray-light-alpha: rgba(199, 199, 199, 0.2);
    --color-gray-light-text: #999;
    --color-gray-dark: #666;
    --color-gray-dark-text: #666;
    --color-paper: #ecebe3;
    --color-paper-text: #555;
    --color-paper-light: #fcfcfa;
    --color-shadow: rgba(181, 181, 181, 0.6);
    
    --border-radius-small: 3px;
    --border-radius-tabs: 3px;
    --border-standard: 1px solid var(--color-gray);
    --border-accent: 2px solid var(--color-orange-dark);
    
    --shadow-standard: 3px 4px 3px -3px var(--color-shadow);
    
    --active-item-text-color: #f2dcd6;
    --active-item-background-color: #e76f51;
}

body.theme-melon-theme-3 div#root-widget {
    --main-font-family: 'Source Sans Pro', 'Liberation Sans', Arial ;
    --detail-text-font-family: Georgia, Serif;
}

/* ============================================================================= */
/* ================================ TOP PANE =================================== */
/* ============================================================================= */

/* selects first "component"-classed child of #root-widget */
/* which happens to be the tab-bar */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type {
    align-items: center;
    /*border-bottom: 1px solid lightgray;*/
    min-height: 50px;
}

body.theme-melon-theme-3 #root-widget > div.component:first-of-type .global-menu-wrapper {
    align-self: center;
    border: none;
    border-right: 1px dotted var(--color-blue-light);
    margin: 0 15px 0 15px;
    padding: 0 5px;
}

body.theme-melon-theme-3 #root-widget > div.component:first-of-type .tab-row-filler .tab-row-border {
    display: none;
}

/* TAB / BUTTON [CLOSE TAB] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab-row .note-tab .note-tab-close {
    background-color: var(--color-paper-light);
    color: var(--color-orange-dark);
    width: 20px;
    height: 20px;
}

/* TAB / BUTTON [CLOSE TAB] / ICON */
body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-close span {
    font-size: 16px;
    top: -2px;
}

/* TAB ROW / BUTTON [NEW TAB] */
body.theme-melon-theme-3 .note-new-tab {
    color: var(--color-gray-dark);
}

body.theme-melon-theme-3 .note-new-tab:hover {
    border-radius: var(--border-radius-tabs);
}
   

body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-wrapper {
    /*border-top-left-radius: var(--border-radius-tabs);
    border-top-right-radius: var(--border-radius-tabs);*/
}

/* TAB ROW - WRAPPER */
body.theme-melon-theme-3 .note-tab .note-tab-wrapper {
    /*background-image: none;
    background-color: var(--color-gray-light);
    box-shadow: inset 0 -15px 7px -12px var(--color-shadow);*/
    font-size: smaller;
}

/* TAB [INACTIVE & ACTIVE] */
body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-drag-handle {
    border-radius: 0;
}

/* TAB [INACTIVE & ACTIVE] - WRAPPER */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab-wrapper {
    border-radius: 0;
    margin-right: 10px;
}

/* TAB [INACTIVE & ACTIVE] - TITLE */
body.theme-melon-theme-3 .note-tab .note-tab-wrapper .note-tab-title {
    color: var(--color-gray-light-text);
}

/* TAB [INACTIVE & ACTIVE] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab {
    /*border: none;
    /*border: 1px solid var(--color-gray);*/
    /*border-bottom: none;*/
    border-radius: 0 !important;
    margin-left: 0;
    margin-right: 5px;
    bottom: 0;
    height: 35px;
}

/* TAB [ACTIVE] - WRAPPER */
body.theme-melon-theme-3 .note-tab[active] .note-tab-wrapper {
    border: var(--border-standard);
    border-bottom: var(--border-accent);
    border-radius: 0 !important;
    margin-right: 10px;
}



/* TAB [ACTIVE] - TITLE */
bbody.theme-melon-theme-3 #root-widget > div.component:first-of-type div.note-tab[active] .note-tab-wrapper .note-tab-title {
    color: var(--color-orange-dark);
    font-weight: normal;
}

/* TAB [ACTIVE] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab[active] {
    border: none;
    border-radius: 0;
    height: 35px;
}




/* SECONDARY MENU BAR */
body.theme-melon-theme-3 .standard-top-widget {
    border-bottom: 1px solid var(--color-blue-light);
    margin-bottom: 10px;
}


/* ============================================================================= */
/* ================================ LEFT PANE ================================== */
/* ============================================================================= */

/* GLOBAL BUTTONS */
body.theme-melon-theme-3 div#left-panel .global-buttons {
    display: flex;
    justify-content: space-around;
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    margin: 3px 5px 5px 5px;
    align-self: end;
}

/* HIDE BREADCRUMBS / PATH */
body.theme-melon-theme-3 div.note-paths-widget {
    display: none;
}

/* "SYMLINK" */
body.theme-melon-theme-3 span.fancytree-title::after {
    color: var(--color-gray-dark);
    font-family: var(--main-font-family-serif);
}

/* HIDE CARETS of NODES WITHOUT CHILDREN*/
body.theme-melon-theme-3 .fancytree-node:not(.fancytree-folder) .fancytree-expander::before {
    /*	color: var(--color-gray-light);*/
    display: none;
}

/* SIDEBAR */
body.theme-melon-theme-3 div#left-pane {
    background-color: var(--color-paper-light);
    color: var(--color-gray-text);
    flex-direction: column-reverse;
}

/* SIDEBAR MENU ITEM */
body.theme-melon-theme-3 span.fancytree-title {
    border: none;
    background: none;
    padding: 3px 0;
}

/* SIDEBAR MENU ITEM [SECONDARY SELECTED] */
body.theme-melon-theme-3 span.fancytree-selected .fancytree-title {
    background-color: var(--color-gray);
    border-color: var(--main-background-color) ; /* invisible border */
    border-radius: 0;
    color: var(--color-gray-text) ;
    font-style: normal;
}

/* SIDEBAR MENU ITEM [FOCUSED] */
body.theme-melon-theme-3 span.fancytree-focus .fancytree-title,
body.theme-melon-theme-3 span.fancytree-focus .fancytree-selected .fancytree-title {
    border: none ;
    background-color: none ;
}

/* SIDEBAR MENU ITEM [ICON] */
body.theme-melon-theme-3 span.fancytree-custom-icon {
    color: var(--color-blue-dark);
}

/* SIDEBAR MENU ITEM [PROTECTED NOTE] */
body.theme-melon-theme-3 span.fancytree-node.protected > span.fancytree-custom-icon {
    filter: none;
    color: var(--color-gray-dark);
}

/* PROTECTED ITEM [ICON] */
body.theme-melon-theme-3 span.fancytree-node.protected > span.fancytree-custom-icon::before {
    content: "\EAD6";
}

/* SIDEBAR MENU ITEM [SECONDARY SELECTED:HOVER] */
body.theme-melon-theme-3 span.fancytree-node:hover span.fancytree-title {
    background-color: var(--color-gray-light-text);
    border-color: var(--main-border-color) ;
    border-radius: 0;
}

body.theme-melon-theme-3 span.fancytree-active:not(.fancytree-focused) .fancytree-title {
    border: none !important;
    font-weight: normal;
}

body.theme-melon-theme-3 .fancytree-active {
   background: var(--color-orange-dark);
}

/* CONTEXT MENU ITEM [ACTIVE (on click)]*/
body.theme-melon-theme-3 .fancytree-node .fancytree-title:active {
    background: transparent;
}

/* CONTEXT MENU ITEM [active item background ("fix"?!)]*/
body.theme-melon-theme-3 span.fancytree-active .fancytree-title {
    background: transparent !important;
    border-radius: 0;
    color: var(--color-orange-dark-text) !important;
}

/* CONTEXT MENU ITEM [active&hover item background ("fix"?!)]*/
body.theme-melon-theme-3 span.fancytree-active .fancytree-title:hover {
    background: transparent !important;
    border-radius: 0;
}

/* MENU ITEM [Shortcut-Display-Fix]*/
body.theme-melon-theme-3 span kbd {
    float: none; /*fixes the line breaking for items with keyboard shortcuts displayed*/
}

/* ============================================================================= */
/* ================================ MIDDLE PANE ================================ */
/* ============================================================================= */
/* NOTE TITLE */
body.theme-melon-theme-3 input.note-title {
    border: var(--border-standard);
    border-bottom: var(--border-accent);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-standard);
    color: var(--color-blue-dark) !important;
    padding: 3px 20px;
    text-align: left;
    font-size: 100%;
}

/* NOTE BUTTONS - PROTECT & UNPROTECT */
body.theme-melon-theme-3 .btn {
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius-small);
    color: var(--color-gray-dark-text);
    align-self: center;
}

/* NOTE BUTTONS - NOTE TYPE */
body.theme-melon-theme-3 .dropdown {
    align-self: center;
}

body.theme-melon-theme-3 div.note-type {
    font-size: 80%;
}

body.theme-melon-theme-3 div.note-actions{
    font-size: 80%;
}

/* NOTE CONTENT */
body.theme-melon-theme-3 div.note-detail {
    background-color: var(--color-paper-light);
    box-shadow: 1px 1px 1px 1px var(--color-gray-light);
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    display: block;
    margin: 5px;
}

/* H1 */
body.theme-melon-theme-3 h1 {
    border-bottom: 2px solid var(--color-orange-dark);
    color: var(--color-gray-text);
    display: table;
    font-family: var(--main-font-family-serif);
    font-size: 28px;
    margin-top: 4rem;
}

/* H2 */
body.theme-melon-theme-3 h2 {
    color: var(--color-gray-text);
    font-family: var(--main-font-family-serif);
    font-size: 21px;
    margin-bottom: 0.6rem;
    margin-top: 1.5rem;
    border-bottom: 1px dotted var(--color-gray-text);
    display: table;
    padding: 3px 0px;
}

body.theme-melon-theme-3 h1 + h2 {
    /* h2 following directly after h1 */
    margin-top: 0.6rem;
}

/* H3 */
body.theme-melon-theme-3 h3 {
    color: var(--color-blue-light);
    font-family: var(--main-font-family-serif);
    font-size: 16px;
    letter-spacing: 0.05rem;
}

/* ============================================================================= */
/* ================================ RIGHT PANE ================================= */
/* ============================================================================= */

body.theme-melon-theme-3 div#right-pane {
    font-size: 95%;
    background-color: white;
    color: var(--color-gray-dark);
    padding-left: 0;
}

/* SIDEBAR R / BUTTON "HIDE SIDEBAR" */
body.theme-melon-theme button#hide-sidebar-button,
body.theme-melon-theme button#show-sidebar-button {
    border: 1px solid var(--color-gray);
    border-radius: 24px;
    color: var(--color-gray-dark-text);
    font-size: 16px;
    padding: 6px 12px;
    margin: 0 5px auto auto;
}


/* SIDEBAR R LIST ITEMS*/
body.theme-melon-theme-3 div#right-pane li {
    list-style-type: square;
}

/* SIDEBAR R / WIDGET */
body.theme-melon-theme div#right-pane div#sidebar-container div.sidebar-widget-container .card {
    border-radius: 1px;
    border: 1px solid var(--color-shadow);
    box-shadow: 5px 5px 3px -4px var(--color-shadow);
    margin: 15px;
}

/* SIDEBAR R / WIDGET / TITLE */
body.theme-melon-theme-3 div#right-pane div#sidebar-container div.sidebar-widget-container .card .card-header button .widget-title {
    background: none;
    border-radius: 0;
    color: var(--color-gray-text);
    font-weight: normal;
    padding: 5px 10px;
}

/* SIDEBAR R / WIDGET / TITLE / CARET ICON */
body.theme-melon-theme div#right-pane div#sidebar-container div.sidebar-widget-container .card .card-header button::before {
    color: var(--color-yellow-text);
    content: "\E9E4\ ";
    font-family: 'boxicons';
    font-size: 0.7rem;
}

/* SIDEBAR R / WIDGET / HELP ICON */
body.theme-melon-theme .widget-help:before {
    color: var(--color-yellow-text);
    font-size: small;
    margin-left: 0.2rem;
}


/* SIDEBAR R / WIDGET / HEADER */
body.theme-melon-theme-3 div#right-pane .card-header {
    background-color: var(--color-gray-light);
    border: none;
    border-radius: 0;
    width: 100%;
}

/* SIDEBAR R / WIDGET / HEADER /  */
body.theme-melon-theme-3 div#right-pane .card .card-header .widget-header-actions a.widget-header-action {
    color: var(--color-blue-dark) !important;
    font-size: 0.8rem;
}

/* SIDEBAR R / WIDGET / BODY */
body.theme-melon-theme-3 div#right-pane .card-body {
    background-color: var(--color-paper-light);
    border: none;
    color: var(--color-paper-text);
}

/* SIDEBAR R / WIDGET / BODY / LINKS*/
body.theme-melon-theme-3 div#right-pane .card-body a {
    color: var(--color-blue-dark);
}

/* SIDEBAR R / WIDGET / BODY / TABLE TEXT*/
body.theme-melon-theme-3 div#right-pane .card-body th,
body.theme-melon-theme-3 div#right-pane .card-body td {
    color: var(--color-paper-text);
}

