/* 
MELON 3 by https://github.com/raphwriter/
A theme for Trilium (https://github.com/zadam/trilium)
*/


/* font declarations */

/* open-sans*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/open-sans-v17-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/custom/fonts/open-sans-v17-latin-italic.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/custom/fonts/open-sans-v17-latin-600italic.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/open-sans-v17-latin-600.woff') format('woff'); 
}

/* Fira Sans */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/custom/fonts/firasans-light.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/FiraSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/FiraMono-Regular.woff') format('woff');
}

/* roboto-slab */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 200;
  src: url('/custom/fonts/roboto-slab-v11-latin-200.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/custom/fonts/roboto-slab-v11-latin-300.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/roboto-slab-v11-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/roboto-slab-v11-latin-600.woff') format('woff'); 
}


html {
    /* color variables */
    --color-blue-dark: #264653;
    --color-blue-dark-text: #a0b7c1;
    --color-blue-light: #2a9d8f;      
    --color-blue-light-text: #f0f4f4;
    --color-yellow: #e9c46a; 
    --color-yellow-text: #63583c;
    --color-yellow-bg-alpha: #e9c46a1a; 
    --color-sidebar-yellow-dark: #e1dbce;
    --color-orange-light: #f4a261;
    --color-orange-light-text: #c96a2e;
    --color-orange-dark: #e76f51;
    --color-orange-dark-text: #f2dcd6; 
    --color-gray: #d6d6d6;
    --color-gray-text: #333;
    --color-gray-light: #f5f5f5;
    --color-gray-light-alpha: rgba(199, 199, 199, 0.2);
    --color-gray-light-text: #999;
    --color-gray-dark: #666;
    --color-gray-dark-text: #666;
    --color-paper: #ecebe3;
    --color-paper-text: #555;
    --color-paper-light: #fcfcfa;
    --color-shadow: rgba(181, 181, 181, 0.6);
    
    --border-radius-small: 3px;
    --border-radius-tabs: 3px;
    --border-standard: 1px solid var(--color-gray);
    --border-accent: 2px solid var(--color-orange-dark);
    --border-accent-alt: 2px solid var(--color-blue-light);
    --border-accent-light: 1px dotted var(--color-blue-dark-text);
    
    --shadow-standard: 3px 4px 3px -3px var(--color-shadow);
    
    --active-item-text-color: #f2dcd6;
    --active-item-background-color: #e76f51;

}

/* hyperlinks */
body.theme-melon-theme-3 div#root-widget a,
body.theme-melon-theme-3 div#root-widget a:visited,
body.theme-melon-theme-3 div#root-widget a:hover {
    color: var(--color-blue-dark);
}

/* font variables */
body.theme-melon-theme-3 div#root-widget {
    --main-font-family-sans: 'Open Sans', 'Fira Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --main-font-family-serif: 'Roboto Slab', Georgia, Serif;
    --main-font-family-mono: 'Fira Mono', 'Source Code Pro', Courier, Monospace;
    --detail-text-font-family: 'Open Sans', 'Fira Sans', Arial, Sans-serif;

    --font-headers: 'Roboto Slab', Georgia, Serif;
    --font-body: 'Open Sans', 'Fira Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --font-code: 'Fira Mono', 'Source Code Pro', Courier, Monospace;
}

/* ============================================================================= */
/* ================================ TOP PANE =================================== */
/* ============================================================================= */

/* selects first "component"-classed child of #root-widget */
/* which happens to be the tab-bar */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type,
body.theme-melon-theme-3 .standard-top-widget {
    align-items: center;
    /*! border-bottom: 1px solid lightgray; */
    min-height: 50px;

}

body.theme-melon-theme-3 #root-widget > div.component:first-of-type .global-menu-wrapper {
    align-self: center;
    border: none;
    border-right: 1px dotted var(--color-blue-light);
    margin: 0 15px 0 15px;
    padding: 0 5px;
}

/* make top all blue */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type,
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .global-menu-wrapper {
    background: var(--color-blue-dark-text);
} 

body.theme-melon-theme-3 .note-tab-row-container {
    background: var(--color-blue-dark-text);
}

body.theme-melon-theme-3 .tab-row-filler {
    background: var(--color-blue-dark-text);
}

/* hide tabbar bottom border thingie */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .tab-row-filler .tab-row-border {
    display: none;
}

/* TAB / BUTTON [CLOSE TAB] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab-row .note-tab .note-tab-close {
    background-color: var(--color-paper-light);
    color: var(--color-orange-dark);
    width: 20px;
    height: 20px;
}

/* TAB / BUTTON [CLOSE TAB] / ICON */
body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-close span {
    font-size: 16px;
    top: -2px;
}

/* TAB ROW / BUTTON [NEW TAB] */
body.theme-melon-theme-3 .note-new-tab {
    color: var(--color-paper-light);
    border-bottom: none;

    font-size: 1.3rem;
    font-weight: lighter;
}

body.theme-melon-theme-3 .note-new-tab:hover {
    border-radius: var(--border-radius-standard);
    background-color: var(--color-orange-dark);
    color: white;
    border: none;
}
   
body.theme-melon-theme-3 .note-tab-row {
    border-radius: 0 !important;
}

body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-wrapper {
    /*border-top-left-radius: var(--border-radius-tabs);
    border-top-right-radius: var(--border-radius-tabs);*/
}

/* TAB ROW - WRAPPER */
body.theme-melon-theme-3 .note-tab .note-tab-wrapper {
    /*background-image: none;
    background-color: var(--color-gray-light);
    box-shadow: inset 0 -15px 7px -12px var(--color-shadow);*/
    font-size: smaller;
}

/* TAB [INACTIVE & ACTIVE] */
body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-drag-handle {
    border-radius: 0;
}

/* TAB [INACTIVE & ACTIVE] - WRAPPER */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab-wrapper {
    background: var(--color-paper-light);
    border-radius: 0;
    margin-right: 10px;
}

/* TAB [INACTIVE & ACTIVE] - TITLE */
body.theme-melon-theme-3 .note-tab .note-tab-wrapper .note-tab-title {
    color: var(--color-blue-dark);
}

/* TAB [INACTIVE & ACTIVE] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab {
    /*border-radius: 0 !important;*/
    margin-left: 0;
    margin-right: 3px;
    bottom: 0;
    height: 35px;
}

/* TAB [ACTIVE] - WRAPPER */
body.theme-melon-theme-3 .note-tab[active] .note-tab-wrapper {
    border: var(--border-standard);
    border-bottom: var(--border-accent);
    border-radius: 0 !important;
    margin-right: 10px;
}



/* TAB [ACTIVE] - TITLE */
bbody.theme-melon-theme-3 #root-widget > div.component:first-of-type div.note-tab[active] .note-tab-wrapper .note-tab-title {
    color: var(--color-orange-dark);
    font-weight: normal;
}

/* TAB [ACTIVE] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab[active] {
    border: none;
    border-radius: 0;
    height: 35px;
}

/* SECONDARY MENU BAR */
body.theme-melon-theme-3 .standard-top-widget {
    background: var(--color-blue-light-text);
    /*! border-bottom: 1px solid var(--color-blue-light); */
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: inset 0 0px 10px -5px var(--color-gray-dark);
}

body.theme-melon-theme-3 div#plugin-buttons {
    margin-right: 1rem;
}


/* ============================================================================= */
/* ================================ LEFT PANE ================================== */
/* ============================================================================= */

/* GLOBAL BUTTONS */

body.theme-melon-theme-3 div#left-pane .global-buttons {
    
    border-radius: var(--border-radius-small);
    border: var(--border-standard);
    color: var(--color-blue-dark);
    /*! background-color: var(--color-blue-light-text); */
    border: none;

    margin: 0;
    border-bottom: var(--border-accent-alt);
    margin-bottom: 0.5rem;
}

/* hide the breadcrumbs/path widget */
body.theme-melon-theme-3 div.note-paths-widget {
    display: none;
}


body.theme-melon-theme-3 div#left-pane .tree-settings-popup button {
    color: var(--color-paper-light);
}


/* "SYMLINK" */
body.theme-melon-theme-3 span.fancytree-title::after {
    color: var(--color-orange-dark);
    font-family: var(--font-headers);
   /* overflow-x: hidden;
    overflow: hidden;
    padding: 0;
    margin: 0;*/
}


/* SIDEBAR */
body.theme-melon-theme-3 div#left-pane {
    background-color: var(--color-paper-light);
}


/* TREE MENU */


body.theme-melon-theme-3 div.tree-wrapper,
body.theme-melon-theme-3 div.tree {
    font-family: var(--font-headers);
    font-weight: 400;
    background: white;
}



/* SIDEBAR MENU ITEM [SECONDARY SELECTED] */
body.theme-melon-theme-3 span.fancytree-selected .fancytree-title {
    background-color: var(--color-gray);
    border-color: var(--main-background-color) ; /* invisible border */
    border-radius: 0;
    color: var(--color-gray-text);
    font-style: normal;
}

/* SIDEBAR MENU ITEM [FOCUSED] */
body.theme-melon-theme-3 span.fancytree-focus .fancytree-title,
body.theme-melon-theme-3 span.fancytree-focus .fancytree-selected .fancytree-title {
    border: none;
    background-color: none;
}



/* SIDEBAR MENU ITEM [SECONDARY SELECTED:HOVER] */
body.theme-melon-theme-3 span.fancytree-node:hover span.fancytree-title {
    background-color: var(--color-gray-light-text);
    border-color: var(--main-border-color);
    border-radius: 0;
}

body.theme-melon-theme-3 span.fancytree-active:not(.fancytree-focused) .fancytree-title {
    border: none !important;
    font-weight: normal;
}

body.theme-melon-theme-3 .fancytree-active {
    background: var(--color-blue-light);
    border-radius: var(--border-radius-small);
    color: var(--color-paper-light);
    width: 95%;
}


body.theme-melon-theme-3 div.tree-wrapper.component .fancytree-container ul[role=group] {
    /*border-left: 1px dotted gray;
    margin-left: 0.1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;*/
}

body.theme-melon-theme-3 div.tree-wrapper.component .fancytree-container li[role=treeitem] {
    padding: 0px; 
}

body.theme-melon-theme-3 span.fancytree-title {
    border: none;
    background: none;
}

/* CONTEXT MENU ITEM [ACTIVE (on click)]*/
body.theme-melon-theme-3 .fancytree-node .fancytree-title:active {
    background: transparent;
}

/* CONTEXT MENU ITEM [active item background ("fix"?!)]*/
body.theme-melon-theme-3 span.fancytree-active .fancytree-title {
    background: transparent !important;
    /*border-radius: 3px;*/
    color: var(--color-blue-light-text) !important;
}

/* CONTEXT MENU ITEM [active&hover item background ("fix"?!)]*/
body.theme-melon-theme-3 span.fancytree-active .fancytree-title:hover {
    background: transparent !important;
    /*border-radius: 0;*/
}




/* ============================================================================= */
/* ================================ MIDDLE PANE ================================ */
/* ============================================================================= */

/* message on top of notes and book view */
body.theme-melon-theme-3 .alert-warning,
body.theme-melon-theme-3 .note-book-auto-message {
    background: var(--color-paper-light);
    border: var(--border-standard) !important;
    border-bottom: var(--border-accent-alt) !important;
    border-radius: var(--border-radius-small);
    color: var(--color-gray-dark-text);
    font-size: 90%;
    font-style: italic;
    padding: 3px 5px;    
    text-align: center;
    width: 100%;
    text-align: left;
    font-size: 90%;
    margin-bottom: 0.5rem;    
}

/* mute hide/show children button */
body.theme-melon-theme-3 .note-book-children .note-book-hide-children-button,
body.theme-melon-theme-3 .note-book-children .note-book-open-children-button {
    color: var(--color-gray-dark-text);
    font-size: 90%;
    align-self: flex-end;
}

/* book view */
body.theme-melon-theme-3 .note-detail-book > .note-detail-book-content > div.note-book-card .note-book-content {
    /* display: none; */ /* <-- uncomment this to hide note contents in book view */
    font-family: var(--font-body);
}

body.theme-melon-theme-3 .note-book-card {
    background-color: var(--color-paper-light);
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-standard);
    border-left: var(--border-accent-alt);
}

body.theme-melon-theme-3 .note-book-children {
    /* display: flex; */
    /* flex-direction: column; */
    border-top: var(--border-accent-light);
    margin: 0px -15px -5px;
    padding: 4px 15px 5px;
    background: none;
}

body.theme-melon-theme-3 .note-book-card h5 {
    font-size: 100%;
    background-color: var(--color-gray-light);
    margin: -15px -15px 0;
    padding: 15px;
}




/* note title */
body.theme-melon-theme-3 input.note-title {
    border: var(--border-standard);
    border-bottom: var(--border-accent);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-standard);
    color: var(--color-blue-dark) !important;
    font-size: 100%;
    font-family: var(--font-body);
    font-weight: 600;
    padding: 3px 20px;
    text-align: left;
}

/* note buttons - protection */
body.theme-melon-theme-3 .btn {
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius-small);
    color: var(--color-gray-dark-text);
    align-self: center;
}

body.theme-melon-theme-3 .dropdown {
    align-self: center;
}

/* note buttons - type, actions */
body.theme-melon-theme-3 div.note-type,
body.theme-melon-theme-3 div.note-actions {
    font-size: 80%;
}

/* note body */
body.theme-melon-theme-3 div.note-detail {
    background-color: var(--color-paper-light);
    box-shadow: 1px 1px 1px 1px var(--color-gray-light);
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    display: block;
    font-family: var(--font-body);
    margin: 5px;
}

body.theme-melon-theme-3 .note-detail-book-content a,
body.theme-melon-theme-3 .note-detail-book-content a:visited {
    color: var(--color-blue-dark);
}

body.theme-melon-theme-3 .note-detail-book-content a:hover {
    color: var(--color-blue-light);
}

body.theme-melon-theme-3 .note-detail-text {
    font-family: var(--font-body);
}

/* h1 */
body.theme-melon-theme-3 h1 {
    border-bottom: 2px solid var(--color-orange-dark);
    color: var(--color-gray-text);
    display: table;
    font-family: var(--font-headers);
    font-size: 28px;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

/* first h1 in a note should not have such a large top margin */
body.theme-melon-theme-3 h1:first-of-type {
    margin-top: 0.8rem;
}

/* h2 */
body.theme-melon-theme-3 h2 {
    color: var(--color-gray-text);
    font-family: var(--font-headers);
    font-size: 21px;
    margin-bottom: 0.6rem;
    margin-top: 1.5rem;
    border-bottom: 1px dotted var(--color-gray-text);
    display: table;
    padding: 3px 0px;
}

/* h2 following directly after h1 */
body.theme-melon-theme-3 h1 + h2 {
    margin-top: 0.6rem;
}

/* h3 */
body.theme-melon-theme-3 h3 {
    color: var(--color-blue-light);
    font-family: var(--font-headers);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

/* ============================================================================= */
/* ================================ RIGHT PANE ================================= */
/* ============================================================================= */

body.theme-melon-theme-3 div#right-pane {
    font-size: 95%;
    color: var(--color-gray-dark);
}

/* List Items */
body.theme-melon-theme-3 div#right-pane li {
    list-style-type: square;
}

/* Widget */
body.theme-melon-theme-3 div#right-pane .card {
    border: var(--border-standard);
    box-shadow: var(--shadow-standard);
    margin: 15px;
    margin-top: 0.5rem;
}
    
/* Widget Header */
body.theme-melon-theme-3 div#right-pane .card-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-bottom: var(--border-accent-alt);
    width: 100%;
}

body.theme-melon-theme-3 #right-pane .widget-title {
    font-weight: 600;
    font-family: var(--font-headers);
}

body.theme-melon-theme-3 div#right-pane .card .card-header .widget-header-actions a.widget-header-action {
    color: var(--color-blue-dark) !important;
    font-size: 0.8rem;
}

/* Widget Body */
body.theme-melon-theme-3 div#right-pane .card-body {
    color: var(--color-gray-dark);
    font-family: var(--font-body);    
}

body.theme-melon-theme-3 div#right-pane .card-body a {
    color: var(--color-blue-light);
}

body.theme-melon-theme-3 div#right-pane .card-body th,
body.theme-melon-theme-3 div#right-pane .card-body td {
    color: var(--color-paper-text);
}
