/* ============================================================================= */
/*                                   MELON 3 
/*                      by https://github.com/raphwriter/
/*          A Theme For Trilium Notes (https://github.com/zadam/trilium)
/* ============================================================================= */



/* ----------------------------------------------------------------------------- */
/* FONT DECLARATIONS
/* ----------------------------------------------------------------------------- */

/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/open-sans-v17-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/custom/fonts/open-sans-v17-latin-italic.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/custom/fonts/open-sans-v17-latin-600italic.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/open-sans-v17-latin-600.woff') format('woff'); 
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/FiraMono-Regular.woff') format('woff');
}

/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('/custom/fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/FiraCode-Bold.woff2') format('woff2');
}

/* Roboto-slab */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 200;
  src: url('/custom/fonts/roboto-slab-v11-latin-200.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/custom/fonts/roboto-slab-v11-latin-300.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/roboto-slab-v11-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/roboto-slab-v11-latin-600.woff') format('woff'); 
}


html {
/* ----------------------------------------------------------------------------- */
/* COLOR VARIABLES
/* ----------------------------------------------------------------------------- */
    --color-blue-dark: #264653;
    --color-blue-dark-text: #a0b7c1;
    --color-blue-light: #2a9d8f;
    --color-blue-light-alpha: #2aa19270;
    --color-blue-light-text: #f0f4f4;
    --color-yellow: #e9c46a; 
    --color-yellow-text: #63583c;
    --color-yellow-bg-alpha: #e9c46a1a; 
    --color-sidebar-yellow-dark: #e1dbce;
    --color-orange-light: #f4a261;
    --color-orange-light-text: #c96a2e;
    --color-orange-dark: #e76f51;
    --color-orange-dark-text: #f2dcd6; 
    --color-gray: #d6d6d6;
    --color-gray-text: #333;
    --color-gray-light: #f5f5f5;
    --color-gray-light-alpha: rgba(199, 199, 199, 0.2);
    --color-gray-light-text: #999;
    --color-gray-dark: #666;
    --color-gray-dark-text: #666;
    --color-paper: #ecebe3;
    --color-paper-text: #555;
    --color-paper-light: #fcfcfa;
    --color-shadow: rgba(181, 181, 181, 0.6);
    
/* ----------------------------------------------------------------------------- */
/* BORDER VARIABLES
/* ----------------------------------------------------------------------------- */
    --border-radius-small: 3px;
    --border-radius-tabs: 3px;
    --border-standard: 1px solid var(--color-gray);
    --border-accent: 2px solid var(--color-orange-dark);
    --border-accent-alt: 2px solid var(--color-blue-light);
    --border-accent-muted: 2px solid var(--color-gray-dark);
    --border-accent-light: 1px dotted var(--color-blue-dark-text);
    
    --shadow-standard: 3px 4px 3px -3px var(--color-shadow);
    --shadow-accented: 2px 2px 5px -2px var(--color-gray-dark);
    
    /*--active-item-text-color: #f2dcd6;*/
    /*--hover-item-background-color: var(--color-blue-light-text) !important;*/

/* ----------------------------------------------------------------------------- */
/* FONT VARIABLES
/* ----------------------------------------------------------------------------- */
    --main-font-family-sans: 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --main-font-family-serif: 'Roboto Slab', Georgia, Serif;
    --main-font-family-mono: 'Fira Mono', 'Source Code Pro', Courier, Monospace;
    --detail-text-font-family: 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;

    --font-headers: 'Roboto Slab', Georgia, Serif;
    --font-body: 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --font-code: 'Fira Code', 'Source Code Pro', Courier, Monospace;
}

/* VARS to test */
:root {
    --main-font-family: var(--font-body);
    --tree-font-family: var(--font-headers);
    --detail-font-family: var(--font-body);
    --detail-text-font-family: var(--font-body);
    --main-text-color: var(--color-gray-dark-text);
}


/* ----------------------------------------------------------------------------- */
/* HYPERLINKS
/* ----------------------------------------------------------------------------- */

body.theme-melon-theme-3 a, 
body.theme-melon-theme-3 a:visited, 
body.theme-melon-theme-3 a:hover,
body.theme-melon-theme-3 .note-detail a,
body.theme-melon-theme-3 .modal-dialog a
{
    color: var(--color-blue-dark);
}


/* ----------------------------------------------------------------------------- */
/* LAYOUT
/* ----------------------------------------------------------------------------- */

body.theme-melon-theme-3 .gutter.gutter-horizontal {
    background: var(--color-blue-light-text);
    /* border: var(--border-standard); */
    border-top: none;
    border-bottom: none;
    margin: -5px 5px -5px 5px;
}

/* buttons */
body.theme-melon-theme-3 .btn {
    border-radius: var(--border-radius-small);
    color: var(--color-blue-dark);
/*     align-items: center; */
}

/* global menu button*/
body.theme-melon-theme-3 div.global-menu-wrapper div.global-menu button {
    font-family: var(--font-headers);
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-blue-light-text);
    background-color: var(--color-blue-light);
}
body.theme-melon-theme-3 div.global-menu-wrapper div.global-menu button:active {
    background-color: var(--color-blue-light-alpha);
    color: white;
}





/* ----------------------------------------------------------------------------- */
/* CONTEXT MENU & FLOATING ELEMENTS
/* ----------------------------------------------------------------------------- */

body.theme-melon-theme-3 #context-menu-container {
    border-radius: var(--border-radius-small); 
    box-shadow: var(--shadow-accented);
    border: var(--border-standard);
    border-top: var(--border-accent);
    border-bottom: var(--border-accent);
}

body.theme-melon-theme-3 #context-menu-container li.dropdown-item {
    padding: 2px 5px 2px 8px;
    font-size: 1rem;
    font-family: var(--font-headers);
    font-weight: normal;
}

/* item hover effect */
body.theme-melon-theme-3 #context-menu-container .dropdown-menu a:hover:not(.disabled),
body.theme-melon-theme-3 #context-menu-container .dropdown-item:hover:not(.disabled) {
    background-color: var(--color-blue-light-text) !important;
}

/* menu item divider */
body.theme-melon-theme-3 #context-menu-container .dropdown-divider,
body.theme-melon-theme-3 #center-pane .dropdown-divider {
    border: none;
    height: 2px;
    margin: 0.3rem 0px;
    overflow: hidden;
    background-color: var(--color-blue-light-text);
}


/* note type and note actions buttons */
body.theme-melon-theme-3 #center-pane .note-type-dropdown,
body.theme-melon-theme-3 #center-pane .dropdown-menu,
body.theme-melon-theme-3 .global-menu .dropdown-menu {
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-accented);
    border: var(--border-standard);
    border-top: var(--border-accent);
    border-bottom: var(--border-accent);
    font-family: var(--font-headers);
    font-size: 1rem;
}
/* toggle note protection switch in note actions dropdown */
body.theme-melon-theme-3 #center-pane .dropdown-item .switch {
  height: auto;
}
body.theme-melon-theme-3 #center-pane .dropdown-item .slider {
  height: 18px;
  border-radius: 10px;
}
body.theme-melon-theme-3 #center-pane .dropdown-item .slider::before {
  height: 10px;
  width: 10px;
  border-radius: 8px;
}

body.theme-melon-theme-3 .dropdown-item.active {
    border: none;
    color: var(--color-blue-light);
}

/* modals */

body.theme-melon-theme-3 div.modal {
    font-size: 1.05rem;
}

/* modal header */
body.theme-melon-theme-3 div.modal-content > div.modal-header {
    display: flex;
    align-items: center;
    background: var(--color-paper-light);
    color: var(--color-paper-text);
}

/* modal header */
body.theme-melon-theme-3 div.modal-content > div.modal-header h5 {
    font-family: var(--font-headers);
    font-weight: bold;
}

/* modal header - revisions - delete all button */
body.theme-melon-theme-3 div.modal-content > div.modal-header > button#note-revisions-erase-all-revisions-button {
    color: var(--color-yellow-text);
    background-color: var(--color-yellow);
    border: none;
    height: 30px;
    margin: 0 10px 0 5px;
}

/* modal header - help button */
body.theme-melon-theme-3 div.modal-content > div.modal-header button.help-button {
    border-radius: var(--border-radius-small);
    border: var(--border-standard);
    color: var(--color-blue-light);
    font-weight: bold;
    font-family: var(--font-headers);
    padding: .1rem .6rem;
}

/* modal recent changes */
body.theme-melon-theme-3.modal-open div#recent-changes-dialog div.modal-content div.modal-body div#recent-changes-content div b {
    font-family: var(--font-headers);
    display:block;
    border-bottom: var(--border-accent-alt);
}

body.theme-melon-theme-3.modal-open div#recent-changes-dialog div.modal-content div.modal-body div#recent-changes-content div ul {
    list-style-type: none;
    padding-left: 6rem;
    margin-top: 0.3rem;
    font-family: var(--font-body);
    font-size: 90%;
}

/* modal body primary button */
body.theme-melon-theme-3 div.modal-content button.btn-primary {
    color: var(--color-blue-light-text);
    background-color: var(--color-blue-light);
    border: var(--border-accent-alt);
}

/* textareae in modals*/
body.theme-melon-theme-3 div.modal-content .modal-body textarea {
    font-family: var(--font-code);
    border: var(--border-standard);
    padding: 5px 5px 5px 15px;
}

/* modal body */
body.theme-melon-theme-3 div.modal-content .modal-body {
    font-family: var(--font-body);
}


/* ----------------------------------------------------------------------------- */
/* TOP PANE
/* ----------------------------------------------------------------------------- */

/* selects first "component"-classed child of #root-widget */
/* which happens to be the tab-bar */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type,
body.theme-melon-theme-3 .standard-top-widget {
    /*align-items: center;*/
    /*! border-bottom: 1px solid lightgray; */
    min-height: 50px;

}

body.theme-melon-theme-3 #root-widget > div.component:first-of-type .global-menu-wrapper {
    border: none;
    margin: 0 0 0 10px;
    padding: 0;
}

/* make top all blue */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type,
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .global-menu-wrapper {
    background: var(--color-blue-light);
    padding-top: 5px;
} 

body.theme-melon-theme-3 .note-tab-row-container {
    background: var(--color-blue-light);
}

body.theme-melon-theme-3 .tab-row-filler {
    background: var(--color-blue-light);
}

/* hide tabbar bottom border thingie */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .tab-row-filler .tab-row-border {
    display: none;
}

/* TAB / BUTTON [CLOSE TAB] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab-row .note-tab .note-tab-close {
/*     color: var(--color-blue-light); */
/*     border: var(--border-standard); */
/*     border-radius: var(--border-radius-small); */
/*     margin-left: 5px; */
}


/* TAB / BUTTON [CLOSE TAB] / ICON */
body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-close span {
    font-size: 16px;
    top: 0;
}

/* TAB ROW / BUTTON [NEW TAB] */
body.theme-melon-theme-3 .note-new-tab {
    color: var(--color-paper-light);
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--font-headers);
}

body.theme-melon-theme-3 .note-new-tab:hover {
    border-radius: var(--border-radius-standard);
    background-color: var(--color-blue-light);
    color: var(--color-orange-dark-text);
    border: none;
}
   
body.theme-melon-theme-3 .note-tab-row {
    border-radius: 0 !important;
    margin-top: 0px;
}


/* TAB ROW - WRAPPER */
body.theme-melon-theme-3 .note-tab .note-tab-wrapper {
    /*background-image: none;
    background-color: var(--color-gray-light);
    box-shadow: inset 0 -15px 7px -12px var(--color-shadow);*/
    font-size: 90%;
}

/* TAB [INACTIVE & ACTIVE] */
body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-drag-handle {
    border-radius: 0;
}

/* TAB [INACTIVE & ACTIVE] - WRAPPER */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab-wrapper {
    border-radius: var(--border-radius-small);
    margin-right: 5px;
    align-items: center;
    display: flex;
}

/* TAB [INACTIVE & ACTIVE] - TITLE */
body.theme-melon-theme-3 .note-tab .note-tab-wrapper .note-tab-title {
    color: var(--color-gray-text);
    text-overflow: ellipsis;
}

/* TAB [INACTIVE & ACTIVE] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab {
    margin-left: 0;
    margin-right: 3px;
    bottom: 0;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    font-family: var(--font-headers);
    padding: 5px 5px;
}

/* TAB [ACTIVE] - WRAPPER */
body.theme-melon-theme-3 .note-tab[active] .note-tab-wrapper {
    border-bottom: var(--border-accent);
    margin-right: 5px;
}



/* TAB [ACTIVE] - TITLE */
bbody.theme-melon-theme-3 #root-widget > div.component:first-of-type div.note-tab[active] .note-tab-wrapper .note-tab-title {
    color: var(--color-orange-dark);
    font-weight: normal;
}

/* TAB [ACTIVE] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab[active] {
    border: none;
    border-radius: var(--border-radius-small);
}

/* SECONDARY MENU BAR */
body.theme-melon-theme-3 .standard-top-widget {
    background: var(--color-blue-light-text);
    /*! border-bottom: 1px solid var(--color-blue-light); */
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: inset 0 0px 10px -5px var(--color-gray-dark);
}

body.theme-melon-theme-3 div#plugin-buttons {
    margin-right: 1rem;
}


/* ----------------------------------------------------------------------------- */
/* LEFT PANE
/* ----------------------------------------------------------------------------- */

/* GLOBAL BUTTONS */

body.theme-melon-theme-3 div#left-pane .global-buttons {
    border-radius: var(--border-radius-small);
    border: var(--border-standard);
    color: var(--color-blue-dark);
    /*! background-color: var(--color-blue-light-text); */
    border: none;
    margin: 0;
    border-bottom: var(--border-accent-alt);
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2px 3px 2px;
}

/* grow global buttons */
body.theme-melon-theme-3 div#left-pane .global-buttons a {
    flex-grow: 1;
    text-align: center;
}

/* hide the breadcrumbs/path widget */
body.theme-melon-theme-3 div.note-paths-widget {
    display: none;
}


body.theme-melon-theme-3 div#left-pane .tree-settings-popup button {
    color: var(--color-paper-light);
}

/* unhoist button */
body.theme-melon-theme-3 div#root-widget div#left-pane span > a.unhoist-button {
    font-size: 0.8rem;
    color: var(--color-blue-light-text) !important;
    text-decoration: none !important;
    background-color: var(--color-blue-light);
    padding: 2px 4px;
    border-radius: var(--border-radius-small);
    margin: 0 3px;
}


/* "SYMLINK" */
body.theme-melon-theme-3 span.fancytree-title::after {
    color: var(--color-orange-dark);
    font-family: var(--font-headers);
   /* overflow-x: hidden;
    overflow: hidden;
    padding: 0;
    margin: 0;*/
}

/* SIDEBAR */
body.theme-melon-theme-3 div#left-pane {
    background-color: var(--color-paper-light);
    border: var(--border-standard);
    margin-left: 10px;
    margin-top: 5px;
    margin: 5px 5px 0 10px;
    border-radius: var(--border-radius-small);
}

/* TREE MENU */

/* hide caret of childless nodes */
body.theme-melon-theme-3 .fancytree-node:not(.fancytree-folder) .fancytree-expander::before {
    display: none;
}

/* style the caret icon on expandable nodes*/
body.theme-melon-theme-3 .fancytree-node .fancytree-expander::before {
    color: var(--color-blue-dark);
    font-size: 1rem;
}


body.theme-melon-theme-3 div.tree {
    font-family: var(--font-headers);
    font-weight: 400;
    background: white;
    padding-top: 10px;
    padding-bottom: 0;
    max-height: 90%;
    
}

body.theme-melon-theme-3 div.tree-wrapper {
    min-height: max-content;
}

/* SIDEBAR MENU ITEM [SECONDARY SELECTED] */
body.theme-melon-theme-3 span.fancytree-selected .fancytree-title {
    background-color: var(--color-gray);
    border-color: var(--main-background-color) ; /* invisible border */
    border-radius: 0;
    color: var(--color-gray-text);
    font-style: normal;
}

/* SIDEBAR MENU ITEM [FOCUSED] */
body.theme-melon-theme-3 span.fancytree-focus .fancytree-title,
body.theme-melon-theme-3 span.fancytree-focus .fancytree-selected .fancytree-title {
    border: none;
    background-color: none;
}

/* SIDEBAR MENU ITEM [SECONDARY SELECTED:HOVER] */
body.theme-melon-theme-3 span.fancytree-node:hover span.fancytree-title {
    background-color: var(--color-gray-light-text);
    border-color: var(--main-border-color);
    border-radius: 0;
}

body.theme-melon-theme-3 span.fancytree-active:not(.fancytree-focused) .fancytree-title {
    border: none !important;
    font-weight: normal;
}

body.theme-melon-theme-3 .fancytree-active {
    background: var(--color-blue-light);
    border-radius: var(--border-radius-small);
    color: var(--color-paper-light);
    width: 95%;
    /*! line-height: 100%; */
}

body.theme-melon-theme-3 .fancytree-focused {
    font-weight: 400;
}

body.theme-melon-theme-3 div.tree-wrapper.component .fancytree-container li[role=treeitem] {
    padding: 0px;
}

body.theme-melon-theme-3 span.fancytree-title {
    border: none;
    background: none;
}

/* protected nodes */
body.theme-melon-theme-3 span.fancytree-node.protected > span.fancytree-custom-icon {
    filter: none;
    color: var(--color-orange-dark);
}

/* CONTEXT MENU ITEM [ACTIVE (on click)]*/
body.theme-melon-theme-3 .fancytree-node .fancytree-title:active {
    background: transparent;
}

/* CONTEXT MENU ITEM [active item background ("fix"?!)]*/
body.theme-melon-theme-3 span.fancytree-active .fancytree-title {
    background: transparent !important;
    /*border-radius: 3px;*/
    color: var(--color-blue-light-text) !important;
}


/* ----------------------------------------------------------------------------- */
/* CENTER PANE
/* ----------------------------------------------------------------------------- */

body.theme-melon-theme-3 div#center-pane {
    margin: 0;
}


/* NODE ATTRIBUTES */


body.theme-melon-theme-3 div#center-pane div.attr-detail {
    font-family: var(--font-body);
}

body.theme-melon-theme-3 div#center-pane div.attr-detail h5 {
    font-family: var(--font-headers);
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper,
body.theme-melon-theme-3 div#center-pane div.similar-notes-widget {
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    padding: 5px;
    background-color: var(--color-blue-light-text);
}

body.theme-melon-theme-3 div#center-pane div.similar-notes-widget {
    margin: 5px;
}

body.theme-melon-theme-3 div#center-pane div.attribute-list {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    
}

body.theme-melon-theme-3 div#center-pane div.attribute-list-editor {
    max-height: 3rem;
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper div.attr-expander,
body.theme-melon-theme-3 div#center-pane div.similar-notes-widget div.similar-notes-expander .similar-notes-expander-text {
    color: var(--color-paper-text);
    /*! background: var(--color-paper-light); */
    /*! border-radius: var(--border-radius-small); */
    padding: 2px 15px;
    font-family: var(--font-headers);
    font-weight: bold;
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper div.attr-expander.attr-inherited-expander {
    color: var(--color-gray-light-text);
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper div.attr-expander hr,
body.theme-melon-theme-3 div#center-pane div.similar-notes-widget div.similar-notes-expander hr {
    border-color: var(--color-gray);
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper p,
body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper .inherited-attributes-wrapper {
    color: var(--color-blue-dark);
    font-size: .9rem;
    font-family: var(--font-code);
    margin-left: 2rem;
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper .inherited-attributes-wrapper {
    color: var(--color-gray-light-text);
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper.all-attr-wrapper div.attr-inherited-expander hr {
    color: var(--color-gray-light-text);
    margin: auto 1.5rem;
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper div.owned-and-inherited-wrapper div.add-new-attribute-button {
    color: var(--color-blue-light-text);
    background-color: var(--color-blue-light);
    /*! padding: .3rem; */
    font-size: 1rem;
    border-radius: var(--border-radius-small);
}


body.theme-melon-theme-3 div#center-pane div.similar-notes-widget div.similar-notes-wrapper div span a {
    color: var(--color-blue-dark);
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    font-size: .9rem;
    font-family: var(--font-headers);
    text-overflow: ellipsis;
    max-width: 15rem;
    background-color: var(--color-paper-light);
    border-bottom: var(--border-accent);
}

/* buttons in center pane */
body.theme-melon-theme-3 div#center-pane button.btn {
    color: var(--color-blue-light-text);
    background-color: var(--color-blue-light);
    border: none;
    font-family: var(--font-headers);
    font-weight: bold;
}

body.theme-melon-theme-3 div#center-pane button.btn.btn-sm {
/*   font-weight: normal; */
/*   font-size: 1rem; */
}

/* body.theme-melon-theme-3 div#center-pane .btn kbd {
    background-color: var(--color-gray-light-alpha);
    border: 1px solid var(--color-blue-light-text);
    border-radius: 15px;
    color: var(--color-blue-light-text);
    font-family: var(--font-code);    
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
} */

/* note buttons - type,actions (vertical alignment with the note title) */
body.theme-melon-theme-3 div.component.title-row {
    align-items: center;
    /*! flex-shrink: 0; */
    /*! flex-grow: 1; */
}

body.theme-melon-theme-3 div.note-title-container {
    height: 3rem;
    flex-grow: 1;
}

/* message on top of notes and book view */
body.theme-melon-theme-3 .alert.alert-warning,
body.theme-melon-theme-3 .note-book-auto-message {
    background: var(--color-paper-light) !important;
    border: var(--border-accent-light) !important;
    border-radius: var(--border-radius-small);
    font-style: italic;
    margin-bottom: 0.5rem;
    padding: 5px 15px;
    text-align: left;
    margin: 0.5rem;
    /*! margin-bottom: .5rem; */
}

bbody.theme-melon-theme-3 div#center-pane.component div.note-detail div.note-detail-read-only-code div.alert {
    color: red;
}

/* book view - mute hide/show children button */
body.theme-melon-theme-3 .note-book-children .note-book-hide-children-button,
body.theme-melon-theme-3 .note-book-children .note-book-open-children-button {
    color: var(--color-gray-dark-text);
    font-size: 90%;
    margin: 10px 0;
    display: block;
    text-align: center;
}

/* book view */
body.theme-melon-theme-3 .note-detail .note-detail-book > .note-detail-book-content > div.note-book-card .note-book-content {
    /* display: none; */ /* <-- uncomment this to hide note-contents in book view */
/*     font-family: var(--font-body); */
    flex-grow: 0;
}

/* structure nested notes in book view */
body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card .note-book-card {
    /*align-items: flex-start;*/
    /* border-left: var(--border-standard); */
    margin: 10px 0 35px;
    background: var(--color-gray-light);
}

body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card h1,
body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card h2,
body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card h3,
body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card h4,
body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card h5 {
    font-size: 1rem;
}

body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card .note-book-card h5 {
/*     padding: 5px 5px 10px; */
/*     font-size: 95%; */
}

body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card .note-book-card .note-book-children {
/*     border-top: none; */
}

body.theme-melon-theme-3 .note-book-card {
    background-color: var(--color-paper-light);
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-standard);
    flex-grow: 1;
}

body.theme-melon-theme-3 .note-book-children {
    padding: 4px 15px 5px;
}

/* note title in book view */
body.theme-melon-theme-3 .note-book-card h5 {
    font-family: var(--font-headers);
    font-weight: bold;
}

body.theme-melon-theme-3 .note-book-card h5 a {
    border-bottom: var(--border-accent);
    display: inline-table;
    text-decoration: none;
}

body.theme-melon-theme-3 .note-book-card h5 a:hover {
    border-bottom: var(--border-accent-muted);
    text-decoration: none;
}

/* note title */
body.theme-melon-theme-3 input.note-title {
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    border-bottom: var(--border-accent);
    box-shadow: var(--shadow-standard);
    font-size: 28px;
    font-family: var(--font-headers);
    font-weight: 600;
    padding: 3px 10px;
    color: var(--color-gray-text) !important;
}

/* note title - protected notes*/
body.theme-melon-theme-3 input.note-title.protected {
    text-shadow: none;
    background-color: var(--color-blue-light-text) !important;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgb(255, 255, 255) 20px, rgb(255, 255, 255) 40px) !important;
}

/* note body */
body.theme-melon-theme-3 div.note-detail {
/*     background-color: var(--color-paper-light); */
    box-shadow: 1px 1px 1px 1px var(--color-gray-light);
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
/*     display: block; */
    font-family: var(--font-body);
    margin: 5px;
}
/* note body hyperlinks */
/* body.theme-melon-theme-3 .note-detail-book-content a,
body.theme-melon-theme-3 .note-detail-book-content a:visited {
    color: var(--color-blue-dark);
}
 */
/* body.theme-melon-theme-3 .note-detail-book-content a:hover {
    color: var(--color-blue-light);
} */

body.theme-melon-theme-3 .note-detail-text {
    color: var(--color-gray-text);
/*     font-family: var(--font-body); */
    line-height: 1.45;
}

/* images */
body.theme-melon-theme-3 .ck-content .image {
/*     border: var(--border-standard); */
/*     border-radius: var(--border-radius-small); */
    margin: 5px;
    padding: 5px;
}

/* h1 */
body.theme-melon-theme-3 h1 {
    border-bottom: 2px solid var(--color-orange-dark);
    color: var(--color-gray-text);
    display: table;
    font-family: var(--font-headers);
    font-size: 28px;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

/* first h1 in a note should not have such a large top margin */
body.theme-melon-theme-3 h1:first-of-type {
    margin-top: 0.8rem;
}

/* h2 */
body.theme-melon-theme-3 h2 {
    color: var(--color-gray-text);
    font-family: var(--font-headers);
    font-size: 21px;
    margin-bottom: 0.6rem;
    margin-top: 1.5rem;
    border-bottom: 1px dotted var(--color-gray-text);
    display: table;
    padding: 3px 0px;
}

/* h2 following directly after h1 */
body.theme-melon-theme-3 h1 + h2 {
    margin-top: 0.6rem;
}

/* h3 */
body.theme-melon-theme-3 h3 {
    color: var(--color-blue-light);
    font-family: var(--font-headers);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

/* h4 */
body.theme-melon-theme-3 h4 {
    color: var(--color-blue-dark);
    font-family: var(--font-headers);
    font-size: 16px;
    font-weight: 300;
}

/* code */

body.theme-melon-theme-3 .ck-content pre {
    background: var(--color-gray-light);
    border: var(--border-standard);
/*     border-left: var(--border-accent-muted); */
    
}

body.theme-melon-theme-3 .ck-content pre code {
/*     color: var(--color-gray-text) !important; */
    font-family: var(--font-code);
}

/* Checklists */
body.theme-melon-theme-3 .ck-content .todo-list .todo-list__label > input::before {
    background: var(--color-gray-light);
    border: var(--border-standard) !important;
    border-color: var(--color-blue-light) !important;
}
body.theme-melon-theme-3 .ck-content .todo-list .todo-list__label > input[checked]::before {
    background: var(--color-blue-light);
    border-color: var(--color-blue-dark);
}


/* ----------------------------------------------------------------------------- */
/* RIGHT PANE
/* ----------------------------------------------------------------------------- */
body.theme-melon-theme-3 div#right-pane {
/*     font-size: 1rem; */
    color: var(--color-gray-dark);
    margin: 5px 10px 0 5px;
}

/* List Items */
body.theme-melon-theme-3 div#right-pane li {
    list-style-type:circle;
}

/* Widget */
body.theme-melon-theme-3 div#right-pane .card {
    border: var(--border-standard);
    box-shadow: var(--shadow-standard);
    margin: 0 0 10px 0;
}
    
/* Widget Header */
body.theme-melon-theme-3 div#right-pane .card-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-bottom: var(--border-accent-alt);
    width: 100%;
    height: 38px;
    justify-content: space-between;
    align-items: center;
}
body.theme-melon-theme-3 #right-pane .widget-title {
    font-weight: 600;
    font-family: var(--font-headers);
}
body.theme-melon-theme-3 div#right-pane .card .card-header .widget-header-actions a.widget-header-action {
    color: var(--color-blue-dark) !important;
    font-size: 0.8rem;
}

/* Widget Body */
body.theme-melon-theme-3 div#right-pane .card-body {
/*     color: var(--color-gray-dark); */
    font-family: var(--font-body);    
}
body.theme-melon-theme-3 div#right-pane .card-body a {
/*     color: var(--color-blue-light); */
}
body.theme-melon-theme-3 div#right-pane .card-body th,
body.theme-melon-theme-3 div#right-pane .card-body td {
/*     color: var(--color-paper-text); */
}
