/* ============================================================================= */
/*                                   MELON 3 
/*                      by https://github.com/raphwriter/
/*          A Theme For Trilium Notes (https://github.com/zadam/trilium)
/* ============================================================================= */



/* ----------------------------------------------------------------------------- */
/* FONT DECLARATIONS
/* ----------------------------------------------------------------------------- */

/* Fira Mono */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/FiraMono-Regular.woff') format('woff');
}

/* Fira Sans */
@font-face {
  font-family: 'Fira Sans';
  font-style: light;
  font-weight: 300;
  src: url('/custom/fonts/FiraSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: regular;
  font-weight: 400;
  src: url('/custom/fonts/FiraSans-Regular.woff') format('woff');
}

/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('/custom/fonts/FiraCode-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/FiraCode-Bold.woff') format('woff');
}

/* Roboto-slab */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 200;
  src: url('/custom/fonts/roboto-slab-v11-latin-200.woff') format('woff'); 
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/custom/fonts/roboto-slab-v11-latin-300.woff') format('woff'); 
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/custom/fonts/roboto-slab-v11-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: url('/custom/fonts/roboto-slab-v11-latin-600.woff') format('woff'); 
}


html {
/* ----------------------------------------------------------------------------- */
/* COLOR VARIABLES
/* ----------------------------------------------------------------------------- */
    --color-blue-dark: #264653;
    --color-blue-dark-text: #a0b7c1;
    --color-blue-light: #5ea299;
    --color-blue-light-alpha: #2aa19270;
    --color-blue-light-alpha-darker: #2a9d8fd1;
    --color-blue-light-text: #f0f4f4;
    --color-yellow: #e9c46a; 
    --color-yellow-text: #63583c;
    --color-yellow-bg-alpha: #e9c46a1a; 
    --color-sidebar-yellow-dark: #e1dbce;
    --color-orange-light: #f4a261;
    --color-orange-light-text: #c96a2e;
    --color-orange-dark: #e76f51;
    --color-orange-dark-text: #f2dcd6; 
    --color-gray: #d6d6d6;
    --color-gray-text: #333;
    --color-gray-light: #f5f5f5;
    --color-gray-light-alpha: rgba(199, 199, 199, 0.2);
    --color-gray-light-text: #999;
    --color-gray-medium: #868E8D;
    --color-gray-dark: #666;
    --color-gray-dark-text: #666;
    --color-paper: #ecebe3;
    --color-paper-text: #555;
    --color-paper-light: #fcfcfa;
    --color-shadow: rgba(181, 181, 181, 0.6);
    
/* ----------------------------------------------------------------------------- */
/* BORDER & SHADOW VARIABLES
/* ----------------------------------------------------------------------------- */
    --border-radius-small: 2px;
    --border-radius-tabs: 2px;
    --border-standard: 1px solid var(--color-gray);
    --border-accent: 2px solid var(--color-orange-dark);
    --border-accent-alt: 2px solid var(--color-blue-light);
    --border-accent-muted: 2px solid var(--color-gray-dark);
    --border-accent-light: 1px dotted var(--color-blue-dark-text);
    
    --shadow-standard: 3px 4px 3px -3px var(--color-shadow);
    --shadow-accented: 2px 2px 5px -2px var(--color-gray-dark);
    --shadow-90deg: 0 3px 5px -3px var(--color-shadow);

/* ----------------------------------------------------------------------------- */
/* FONT VARIABLES
/* ----------------------------------------------------------------------------- */
    --main-font-family-sans: 'Fira Sans', 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --main-font-family-serif: 'Roboto Slab', Georgia, Serif;
    --main-font-family-mono: 'Fira Mono', 'Source Code Pro', Courier, Monospace;
    --detail-text-font-family: 'Fira Sans', 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --font-family-monospace: 'Fira Mono', 'Source Code Pro', Courier, Monospace;
    --font-headers: 'Roboto Slab', Georgia, Serif;
    --font-body: 'Fira Sans', 'Open Sans', 'Source Sans Pro', 'Liberation Sans', Arial, Sans-serif;
    --font-code: 'Fira Code', 'Source Code Pro', Courier, Monospace;
}

/* ----------------------------------------------------------------------------- */
/* HYPERLINKS
/* ----------------------------------------------------------------------------- */
body.theme-melon-theme-3 a, 
body.theme-melon-theme-3 a:visited, 
body.theme-melon-theme-3 a:hover,
body.theme-melon-theme-3 .note-detail a,
body.theme-melon-theme-3 .modal-dialog a
{
    color: var(--color-blue-dark);
}

/* ----------------------------------------------------------------------------- */
/* LAYOUT
/* ----------------------------------------------------------------------------- */
body.theme-melon-theme-3 .gutter.gutter-horizontal {
    background: var(--color-blue-light-text);
    border-top: none;
    border-bottom: none;
    margin: -5px 5px -5px 5px;
}

/* buttons */
body.theme-melon-theme-3 .btn {
    border-radius: var(--border-radius-small);
    color: var(--color-blue-dark);
}

/* global menu button*/
body.theme-melon-theme-3 div.global-menu-wrapper div.global-menu button {
    font-family: var(--font-headers);
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-blue-light-text);
    background-color: var(--color-blue-light);
}
body.theme-melon-theme-3 div.global-menu-wrapper div.global-menu button:active {
    background-color: var(--color-blue-light-alpha);
    color: white;
}

/* ----------------------------------------------------------------------------- */
/* FORMS
/* ----------------------------------------------------------------------------- */
/* fix checkbox height*/
body.theme-melon-theme-3 input[type="checkbox"].form-control {
    height: auto !important;
}

/* dropdown autocompletes*/
body.theme-melon-theme-3 .algolia-autocomplete {
    font-family: var(--font-body);
    font-size: 0.9rem;
    
}
body.theme-melon-theme-3 .algolia-autocomplete div {
    border-bottom: var(--border-accent-light);
}
body.theme-melon-theme-3 .algolia-autocomplete div:last-child {
    border-bottom: none;
}
body.theme-melon-theme-3 .algolia-autocomplete small {
    font-family: var(--font-code);
}

/* Checklists */
/* unchecked */
body.theme-melon-theme-3 .ck-content .todo-list .todo-list__label > input::before {
    background: var(--color-gray-light);
    border: var(--border-standard) !important;
    border-color: var(--color-blue-light) !important;
}
/* checked */
body.theme-melon-theme-3 .ck-content .todo-list .todo-list__label > input[checked]::before {
    background: var(--color-blue-light);
    border-color: var(--color-blue-dark);
}

/* ----------------------------------------------------------------------------- */
/* CONTEXT MENU & FLOATING ELEMENTS
/* ----------------------------------------------------------------------------- */
body.theme-melon-theme-3 #context-menu-container {
    border-radius: var(--border-radius-small); 
    box-shadow: var(--shadow-accented);
    border: var(--border-standard);
    border-top: var(--border-accent);
    border-bottom: var(--border-accent);
}

body.theme-melon-theme-3 #context-menu-container li.dropdown-item {
    padding: 2px 5px 2px 8px;
    font-size: 1rem;
    font-family: var(--font-headers);
    font-weight: normal;
}

/* item hover effect */
body.theme-melon-theme-3 #context-menu-container .dropdown-menu a:hover:not(.disabled),
body.theme-melon-theme-3 #context-menu-container .dropdown-item:hover:not(.disabled) {
    background-color: var(--color-blue-light-text) !important;
}

/* menu item divider */
body.theme-melon-theme-3 #context-menu-container .dropdown-divider,
body.theme-melon-theme-3 #center-pane .dropdown-divider {

}


/* note type and note actions buttons */
body.theme-melon-theme-3 #center-pane .note-type-dropdown,
body.theme-melon-theme-3 #center-pane .dropdown-menu,
body.theme-melon-theme-3 .global-menu .dropdown-menu {
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-accented);
    border: var(--border-standard);
    border-top: var(--border-accent);
    border-bottom: var(--border-accent);
    font-family: var(--font-headers);
    /*font-size: 1rem;*/
}

/* similar items > tooltip */
body.theme-melon-theme-3 .tooltip.note-tooltip {
    font-family: var(--font-body);
    font-size: 0.9rem;
}

body.theme-melon-theme-3 .dropdown-item.active {
    border: none;
    color: var(--color-blue-light);
}

/* modals */
body.theme-melon-theme-3 div.modal {
    font-size: 1.05rem;
}

/* modal header */
body.theme-melon-theme-3 div.modal-content > div.modal-header {
    display: flex;
    align-items: center;
    background: var(--color-paper-light);
    color: var(--color-paper-text);
}

/* modal header */
body.theme-melon-theme-3 div.modal-content > div.modal-header h5 {
    font-family: var(--font-headers);
    font-weight: bold;
}

/* modal header - revisions - delete all button */
body.theme-melon-theme-3 div.modal-content > div.modal-header > button#note-revisions-erase-all-revisions-button {

}

/* modal header - help button */
body.theme-melon-theme-3 div.modal-content > div.modal-header button.help-button {

}

/* modal recent changes */
body.theme-melon-theme-3.modal-open div#recent-changes-dialog div.modal-content div.modal-body div#recent-changes-content div b {
    font-family: var(--font-headers);
    display:block;
    border-bottom: var(--border-accent-alt);
}

body.theme-melon-theme-3.modal-open div#recent-changes-dialog div.modal-content div.modal-body div#recent-changes-content div ul {
    list-style-type: none;
    padding-left: 6rem;
    margin-top: 0.3rem;
    font-family: var(--font-body);
    font-size: 90%;
}

/* modal body primary button */
body.theme-melon-theme-3 div.modal-content button.btn-primary {
    color: var(--color-blue-light-text);
    background-color: var(--color-blue-light);
    border: var(--border-accent-alt);
    font-family: var(--font-headers);    
}

/* textareae in modals*/
body.theme-melon-theme-3 div.modal-content .modal-body textarea {
    font-family: var(--font-code);
    font-size: 0.9rem;
    border: var(--border-standard);
    padding: 5px 5px 5px 15px;
}

/* modal body */
body.theme-melon-theme-3 div.modal-content .modal-body {
    font-family: var(--font-body);
}

/* note list*/
body.theme-melon-theme-3 div#root-widget div#center-pane div.note-list-widget.component div.note-list-widget-content div.note-list-wrapper {
    margin-top: 27px;
    border: var(--border-accent-light);
    padding: 5px;
}
body.theme-melon-theme-3 div#root-widget div#center-pane div.note-list-widget.component div.note-list-widget-content div.note-list div.btn-group.floating-button button.icon-button {
    background-color: white;
    border: var(--border-accent-light);
    border-bottom: none;
    color: var(--color-gray-dark-text);
}

/* ----------------------------------------------------------------------------- */
/* TOP PANE
/* ----------------------------------------------------------------------------- */

/* selects first "component"-classed child of #root-widget */
/* which happens to be the tab-bar */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type,
body.theme-melon-theme-3 .standard-top-widget {
    align-items: center;
    /*! border-bottom: 1px solid lightgray; */
    min-height: 50px;
}

body.theme-melon-theme-3 #root-widget > div.component:first-of-type .global-menu-wrapper {
    border: none;
    padding-top: 2px;
}

/* make top all blue */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type,
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .global-menu-wrapper {
    background: var(--color-blue-light);
} 

body.theme-melon-theme-3 .note-tab-row-container {
    background: var(--color-blue-light);
}

body.theme-melon-theme-3 .tab-row-filler {
    background: var(--color-blue-light);
}

/* hide tabbar bottom border thingie */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .tab-row-filler .tab-row-border {
    display: none;
}

/* TAB / BUTTON [CLOSE TAB] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab-row .note-tab .note-tab-close {

}

/* SYNC BUTTON */
body.theme-melon-theme-3 div.sync-status-widget.component {
    border: none;
}
body.theme-melon-theme-3 .sync-status-icon {
    font-size: 1.2rem;
    padding: 5px 10px;
}
body.theme-melon-theme-3 .sync-status-icon:hover {
    background: none;
}
body.theme-melon-theme-3 div.sync-status {
    color: var(--color-blue-light-text);
}


/* TAB / BUTTON [CLOSE TAB] / ICON */
body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-close span {
    font-size: 1rem;
    top: 0;
}

/* TAB ROW / BUTTON [NEW TAB] */
body.theme-melon-theme-3 .note-new-tab {
    color: var(--color-paper-light);
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--font-headers);
}

body.theme-melon-theme-3 .note-new-tab:hover {
    border-radius: var(--border-radius-standard);
    background-color: var(--color-blue-light);
    color: var(--color-blue-light-text);
    border: none;
}
   
body.theme-melon-theme-3 .note-tab-row {
    
    margin-top: 0px;
}


/* TAB ROW - WRAPPER */
body.theme-melon-theme-3 .note-tab .note-tab-wrapper {
    background-image: none;
    font-size: 0.9rem;
}

/* TAB [INACTIVE & ACTIVE] */
body.theme-melon-theme-3 .note-tab-row .note-tab .note-tab-drag-handle {
    border-radius: 0;
}

/* TAB [INACTIVE & ACTIVE] - WRAPPER */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab-wrapper {
    border-radius: var(--border-radius-small);
    margin-right: 5px;
    align-items: center;
    display: flex;
}

/* TAB [INACTIVE & ACTIVE] - TITLE */
body.theme-melon-theme-3 .note-tab .note-tab-wrapper .note-tab-title {
    color: var(--color-gray-text);
    text-overflow: ellipsis;
}

/* TAB [INACTIVE & ACTIVE] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab {
    margin-left: 0;
    margin-right: 3px;
/*    bottom: 0;*/
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: var(--font-headers);
    padding: 5px 5px;
}

/* TAB [ACTIVE] - WRAPPER */
body.theme-melon-theme-3 .note-tab[active] .note-tab-wrapper {
    border-bottom: var(--border-accent);
    margin-right: 5px;
}

/* TAB [ACTIVE] - TITLE */
bbody.theme-melon-theme-3 #root-widget > div.component:first-of-type div.note-tab[active] .note-tab-wrapper .note-tab-title {
    color: var(--color-orange-dark);
    font-weight: normal;
}

/* TAB [ACTIVE] */
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab[active] {
    border: none;
    border-radius: var(--border-radius-small);
}

/* SECONDARY MENU BAR */
body.theme-melon-theme-3 .standard-top-widget {
    background: var(--color-blue-light-text);
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: inset 0 0px 10px -5px var(--color-gray-dark);
}

body.theme-melon-theme-3 div#plugin-buttons {
    margin-right: 1rem;
}

body.theme-melon-theme-3 div#root-widget div.standard-top-widget div button.btn.btn-sm.noborder {
    font-family: var(--font-body);
    padding: .25rem .5rem;
}

body.theme-melon-theme-3 div#root-widget div.standard-top-widget input {
    font-family: var(--font-body);
}

/* ----------------------------------------------------------------------------- */
/* LEFT PANE
/* ----------------------------------------------------------------------------- */
/* GLOBAL BUTTONS */
body.theme-melon-theme-3 div#left-pane .global-buttons {

}

/* grow global buttons */
body.theme-melon-theme-3 div#left-pane .global-buttons a {

}

body.theme-melon-theme-3 div#left-pane .tree-settings-popup button {
    color: var(--color-paper-light);
}

/* unhoist button */
body.theme-melon-theme-3 div#root-widget div#left-pane span > a.unhoist-button {

}


/* "SYMLINK" */
body.theme-melon-theme-3 span.fancytree-title::after {
    color: var(--color-orange-dark);
    font-family: var(--font-headers);
}

/* SIDEBAR */
body.theme-melon-theme-3 div#left-pane {

}

/* TREE MENU */
/* hide caret of childless nodes */
body.theme-melon-theme-3 .fancytree-node:not(.fancytree-folder) .fancytree-expander::before {
    display: none;
}

/* menu items*/
body.theme-melon-theme-3 div.tree-wrapper,
body.theme-melon-theme-3 div.tree {
    font-family: var(--font-headers);
    font-weight: 400;
    background: white;
}

body.theme-melon-theme-3 div.tree {
    
}

body.theme-melon-theme-3 div.tree-wrapper{
    
}

/* SIDEBAR MENU ITEM [SECONDARY SELECTED] */
body.theme-melon-theme-3 span.fancytree-selected .fancytree-title {
    background-color: var(--color-gray);
    border-color: var(--main-background-color) ; /* invisible border */
    border-radius: 0;
    color: var(--color-gray-text);
    font-style: normal;
}

/* SIDEBAR MENU ITEM [FOCUSED] */
body.theme-melon-theme-3 span.fancytree-focus .fancytree-title,
body.theme-melon-theme-3 span.fancytree-focus .fancytree-selected .fancytree-title {

}

/* SIDEBAR MENU ITEM [SECONDARY SELECTED:HOVER] */
body.theme-melon-theme-3 span.fancytree-node:hover span.fancytree-title {

}

body.theme-melon-theme-3 span.fancytree-active:not(.fancytree-focused) .fancytree-title {
}

body.theme-melon-theme-3 .fancytree-active {
    background: var(--color-blue-light);
    border-radius: 0;
    color: var(--color-paper-light);
}

body.theme-melon-theme-3 .fancytree-focused {

}

body.theme-melon-theme-3 div.tree-wrapper .fancytree-container li[role=treeitem] {
}

body.theme-melon-theme-3 div.tree-wrapper .fancytree-container span.fancytree-node {
    padding: 1px 0;
    margin-bottom: -3px;
}

body.theme-melon-theme-3 div.tree-wrapper .fancytree-container span.fancytree-node.fancytree-active {

}

body.theme-melon-theme-3 span.fancytree-title {
    border: none;
    background: none;
}

/* protected nodes */
body.theme-melon-theme-3 span.fancytree-node.protected > span.fancytree-custom-icon {
    filter: none;
    color: var(--color-orange-dark);
}

/* CONTEXT MENU ITEM [ACTIVE (on click)]*/
body.theme-melon-theme-3 .fancytree-node .fancytree-title:active {

}

/* CONTEXT MENU ITEM [active item background ("fix"?!)]*/
body.theme-melon-theme-3 span.fancytree-active .fancytree-title {
    background: transparent !important;
    color: var(--color-blue-light-text) !important;
}


/* ----------------------------------------------------------------------------- */
/* CENTER PANE
/* ----------------------------------------------------------------------------- */

body.theme-melon-theme-3 div#center-pane {

}

/* NOTE ATTRIBUTES */

/* attributes modal*/
body.theme-melon-theme-3 div#center-pane div.attr-detail {
   font-family: var(--font-body);
   font-size: 0.9rem;
}
body.theme-melon-theme-3 div#center-pane div.attr-detail h5 {
    font-family: var(--font-headers);
}

/* note header with attributes and info*/
body.theme-melon-theme-3 div#root-widget div#center-pane div.section-container {
    box-shadow: var(--shadow-90deg);
    margin: 10px -5px 0;
    padding: 0 15px 10px;
    border-bottom: var(--border-accent-light);
    
    font-size: .9rem;
}

body.theme-melon-theme-3 div#root-widget div#center-pane div.section-container .section-title-container {
    justify-content: start;
    margin-left: 10px;
}

body.theme-melon-theme-3 div#root-widget div#center-pane div.section-container div.section-title {
    border-bottom: none;
    font-family: var(--font-headers);
    padding: 0;
    margin: 0 1rem 0 0;
    padding-bottom: 0.2rem;
}
body.theme-melon-theme-3 div#root-widget div#center-pane div.section-container div.section-title.section-title-empty {
    display: none;
}
body.theme-melon-theme-3 div#root-widget div#center-pane div.section-container div.section-title.active {
    border-bottom: var(--border-accent-muted);
}

body.theme-melon-theme-3 div#root-widget div#center-pane div.section-container div.section-title-container .section-title-real {
    
}

body.theme-melon-theme-3 div#root-widget div#center-pane div.section-container div.section-body-container {
    font-size: 0.9rem;

}

body.theme-melon-theme-3 div#root-widget div#center-pane div.section-container div.section-body-container div.section-body.active div.attribute-list div.attribute-list-editor p {
    color: var(--color-blue-dark);
    font-family: var(--font-code);
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper,
body.theme-melon-theme-3 div#center-pane div.similar-notes-widget {
    border-radius: var(--border-radius-small);
    padding: 5px;
}

body.theme-melon-theme-3 div#center-pane div.similar-notes-widget {
    margin: 0 -6px;
    border: none;
    border-top: var(--border-accent-light);
    font-family: var(--font-headers);
    background: var(--color-paper-light);
}

body.theme-melon-theme-3 div#center-pane div.similar-notes-widget hr {
    display: none;
}

body.theme-melon-theme-3 div#center-pane div.attribute-list {

}

body.theme-melon-theme-3 div#center-pane div.attribute-list-editor {
    max-height: 3rem;
}

body.theme-melon-theme-3 div#root-widget div.component div#center-pane div.section-container div.section-body-container div.section-body {
    border: none;
    font-family: var(--font-code);
    margin: 0;
    color: var(--color-blue-dark);
}

/* owned attributes*/
body.theme-melon-theme-3 div#root-widget div.component div#center-pane div.section-container div.section-body-container div.section-body.active div.attribute-list.component div.attr-detail.component input {
    font-family: var(--font-code);
    font-size: 0.9rem;
}

/* promoted attributes */
body.theme-melon-theme-3  div#root-widget div#center-pane div.section-container div.section-body-container div.section-body.active div.promoted-attributes-container {
    display: flex;
    justify-content: start;
    font-weight: 300;
}

body.theme-melon-theme-3  div#root-widget div#center-pane div.section-container div.section-body-container div.section-body.active div.promoted-attributes-container div.promoted-attribute-cell {
    
}

/* Note Info */
body.theme-melon-theme-3 div#root-widget div.component div#center-pane div.section-container div.section-body-container div.section-body.active div.note-properties-widget {

}

body.theme-melon-theme-3 div#root-widget div.component div#center-pane div.section-container div.section-body-container div.section-body.active div.attribute-list.component div.attr-detail.component table.attr-edit-table tbody tr.attr-help,
body.theme-melon-theme-3 div#root-widget div.component div#center-pane div.section-container div.section-body-container div.section-body.active div.attribute-list.component div.attr-detail.component div.related-notes-container ul.related-notes-list {
    list-style-type: disclosure-closed;
}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper div.attr-expander,
body.theme-melon-theme-3 div#center-pane div.similar-notes-widget div.similar-notes-expander .similar-notes-expander-text {

}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper div.attr-expander.attr-inherited-expander {

}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper div.attr-expander hr,
body.theme-melon-theme-3 div#center-pane div.similar-notes-widget div.similar-notes-expander hr {

}

body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper p,
body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper .inherited-attributes-wrapper {

}

body.theme-melon-theme-3 div#center-pane .similar-notes-widget .similar-notes-wrapper span a {
    color: var(--color-blue-dark);
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    font-size: .9rem;
    font-family: var(--font-headers);
    text-overflow: ellipsis;
    max-width: 15rem;
    background-color: var(--color-paper-light);
    border-bottom: var(--border-accent);
}

body.theme-melon-theme-3 div#center-pane .similar-notes-widget .area-expander:hover :is(hr,div) {
    color: var(--color-blue-dark);
    border-color: var(--color-blue-dark);
}

/* buttons in center pane */
body.theme-melon-theme-3 div#center-pane button.btn {
    color: var(--color-blue-light-text);
    background-color: var(--color-blue-light);
    border: none;
    font-family: var(--font-headers);
    font-weight: 600;
    font-size: 0.9rem;
}

body.theme-melon-theme-3 div#center-pane button.btn.btn-sm {

}

body.theme-melon-theme-3 div#center-pane .btn kbd {

}

/* note buttons - type,actions (vertical alignment with the note title) */
body.theme-melon-theme-3 div.component.title-row {
    align-items: center;
    border-bottom: var(--border-accent);
    color: var(--color-blue-dark);
}

body.theme-melon-theme-3 div#root-widget div#center-pane .title-row .dropdown :is(button)  {
    background: none;
    color: var(--color-blue-dark);
}

body.theme-melon-theme-3 div.note-title-container {
    height: 3rem;
    flex-grow: 1;
    border-radius: 3px 3px 0 0;
}


/* edit note button*/ /* message/button on top of notes and book view */
body.theme-melon-theme-3 .alert.alert-warning {
    background: var(--color-blue-light-alpha-darker) !important;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    width: 100%;
}
body.theme-melon-theme-3 #center-pane div.note-detail.component div.note-detail-read-only-code {
    display: flex;
    flex-direction: column;
}
body.theme-melon-theme-3 #center-pane div.note-detail.component > div.note-detail-read-only-code.note-detail-printable.component > div.edit-code-note-button {
    display: flex;
    position: sticky;
    text-align: center;
    min-height: 2.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-90deg);
}
body.theme-melon-theme-3 #center-pane div.note-detail.component > div.note-detail-read-only-code.note-detail-printable.component > div.edit-code-note-button::before {
    color: white;
}

/* book view - mute hide/show children button */
body.theme-melon-theme-3 .note-book-children .note-book-hide-children-button,
body.theme-melon-theme-3 .note-book-children .note-book-open-children-button {

} 

/* book view */
body.theme-melon-theme-3 .note-detail .note-detail-book > .note-detail-book-content > div.note-book-card .note-book-content {

}

/* structure nested notes in book view */
body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card .note-book-card {
    margin: 10px 0 35px;
    background: var(--color-gray-light);
}

body.theme-melon-theme-3 .note-detail .note-detail-book .note-detail-book-content > .note-book-card :is(h1, h2, h3, h4, h5, h6) {

}

body.theme-melon-theme-3 .note-book-card {
    background-color: white;
    border: var(--border-accent-light) !important;
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-standard);
    margin: 3px;
    margin-bottom: 1rem;
}

body.theme-melon-theme-3 .note-book-card.expanded > h5.note-book-title :is(a, span) :not(class[rendered-note-attributes]) {
    font-weight: 600;
}

body.theme-melon-theme-3 .note-book-card.expanded:not(.block-link) {
    border-top-color: var(--color-orange-dark) !important;
    border-bottom-color: var(--color-orange-dark) !important;
    border-left-color: var(--color-orange-dark) !important;
}

body.theme-melon-theme-3 .rendered-note-content {
    font-family: var(--font-body);
    color: var(--color-blue-dark);
}

body.theme-melon-theme-3 .note-book-card .note-book-card {
    margin-bottom: 2px;
    margin-left: 1rem;
}

body.theme-melon-theme-3 .note-list.grid-view .note-book-card:hover {
    background: white;
    border: var(--border-accent-light);
}

body.theme-melon-theme-3 .note-book-card .note-book-title .rendered-note-attributes {
    font-size: 0.9rem;
    display: inline;
    color: var(--color-blue-dark-text);
}

/* font in note cards */
body.theme-melon-theme-3 .ck-content {
    font-family: var(--font-body);
}

body.theme-melon-theme-3 .note-book-children {
    padding: 4px 15px 5px;
}

/* note title in book view */
body.theme-melon-theme-3 .note-book-card :is(h1, h2, h3, h4, h5) {
    font-family: var(--font-headers);
    font-size: 1rem;
}

body.theme-melon-theme-3 .note-book-card h5 a {
    border-bottom: var(--border-accent-light);
    text-decoration: none;
}

body.theme-melon-theme-3 .note-book-card h5 a:hover {
    border-bottom: var(--border-standard);
    text-decoration: none;
}

/* note title */
body.theme-melon-theme-3 input.note-title {
    border-radius: 0;
    font-size: 2rem;
    font-family: var(--font-headers);
    padding: 0 10px;
    color: var(--color-blue-dark) !important;
}

/* note title icon button*/
body.theme-melon-theme-3 div#root-widget div.component div#center-pane.component div.component.title-row div.note-icon-container button.note-icon {
    border-radius: 0.5rem;
    background: var(--color-paper-light);
}

/* note title - protected notes*/
body.theme-melon-theme-3 input.note-title.protected {
    text-shadow: none;
    background-color: var(--color-blue-light-text) !important;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgb(255, 255, 255) 20px, rgb(255, 255, 255) 40px) !important;
}

/* note body */
body.theme-melon-theme-3 div.note-detail {
    box-shadow: 1px 1px 1px 1px var(--color-gray-light);
    border: var(--border-standard);
    border-radius: var(--border-radius-small);
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    margin: 3rem 5px 2rem;
}

body.theme-melon-theme-3 div.note-detail-book {
    
}

body.theme-melon-theme-3 .note-detail-text {
    color: var(--color-gray-text);
    line-height: 1.45;
}

/* images */
body.theme-melon-theme-3 .ck-content .image {
    margin: 5px;
    padding: 5px;
}

/* h2 */
body.theme-melon-theme-3 h2 {
    color: var(--color-blue-light);
    font-family: var(--font-headers);
    font-size: 21px;
    margin-bottom: 0.6rem;
    margin-top: 1.5rem;
    border-bottom: 1px dotted var(--color-gray-text);
    display: table;
    padding: 3px 0px;
}

/* h3 */
body.theme-melon-theme-3 h3 {
    color: var(--color-blue-light);
    font-family: var(--font-headers);
    font-size: 16px;
    letter-spacing: 0.05rem;
}

/* h4 */
body.theme-melon-theme-3 h4 {
    color: var(--color-blue-light);
    font-family: var(--font-headers);
    font-size: 16px;
    font-weight: 300;
}

/* h5 */
body.theme-melon-theme-3 h5 {
    font-family: var(--font-headers);
    font-size: 16px;
    font-weight: 300;
}

/* code */

body.theme-melon-theme-3 .ck-content pre,
body.theme-melon-theme-3 .ck-content pre .note-detail-read-only-code-content {
    background: var(--color-gray-light);
    border: var(--border-standard);
    font-family: var(--font-code);
    
}

body.theme-melon-theme-3 .ck-content pre code {
    font-family: var(--font-code);
}


/* ----------------------------------------------------------------------------- */
/* RIGHT PANE
/* ----------------------------------------------------------------------------- */
body.theme-melon-theme-3 div#right-pane {
    color: var(--color-gray-dark);
    margin: 5px 10px 0 5px;
}

/* List Items */
body.theme-melon-theme-3 div#right-pane li {
    list-style-type: circle;
}

/* Card */
body.theme-melon-theme-3 div#right-pane .card {
    border: var(--border-standard);
    box-shadow: var(--shadow-standard);
    margin: 0 0 10px 0;
    overflow: clip;
    border-radius: var(--border-radius-small);
}
    
/* Card Header */
body.theme-melon-theme-3 div#right-pane .card-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    border-bottom: var(--border-standard);
    width: 100%;
    height: 38px;
    justify-content: space-between;
    align-items: center;
}
body.theme-melon-theme-3 #right-pane .widget-title {
    font-weight: 600;
    font-family: var(--font-headers);
}
body.theme-melon-theme-3 div#right-pane .card .card-header .widget-header-actions a.widget-header-action {
    color: var(--color-blue-dark) !important;
    font-size: 0.8rem;
}

/* Card Body */
body.theme-melon-theme-3 div#right-pane .card-body {
/*     color: var(--color-gray-dark); */
    font-family: var(--font-body);    
}
body.theme-melon-theme-3 div#right-pane .card-body a {
/*     color: var(--color-blue-light); */
}
body.theme-melon-theme-3 div#right-pane .card-body th,
body.theme-melon-theme-3 div#right-pane .card-body td {
padding: 0px 5px;
}

body.theme-melon-theme-3 div#root-widget div#right-pane div.card.widget div.card-body table.note-info-widget-table {
    font-size: 0.8rem;
    font-family: var(--font-headers);
    display: grid;
}
body.theme-melon-theme-3 div#root-widget div#right-pane div.card.widget div.card-body table.note-info-widget-table tbody {
    display: grid;
}
body.theme-melon-theme-3 div#root-widget div#right-pane div.card.widget div.card-body table.note-info-widget-table tr {
    font-size: 0.8rem;
    font-family: var(--font-code);
    display: grid;
    white-space: normal;
    grid-row-start: 1;
    border: var(--border-accent-light);
}
body.theme-melon-theme-3 div#root-widget div#right-pane div.card.widget div.card-body table.note-info-widget-table th {
    color: var(--color-blue-dark);
    font-family: var(--font-body);
}
body.theme-melon-theme-3 div#root-widget div#right-pane div.card.widget div.card-body table.note-info-widget-table td {
    font-size: 0.8rem;
    font-family: var(--font-code);
    display: flex;
    flex-direction: row;
}
