/* LOW DPI OVERRIDES*/
body.theme-melon-theme-3 #root-widget > div.component:first-of-type, body.theme-melon-theme-3 .standard-top-widget {
    min-height: 40px;
}
body.theme-melon-theme-3 #root-widget > div.component:first-of-type .note-tab {
    height: 30px;
}
body.theme-melon-theme-3 .note-tab-row {
    height: 30px;
}
body.theme-melon-theme-3 .standard-top-widget {
    padding-top: 0;
    padding-bottom: 0;
}
body.theme-melon-theme-3 input.note-title {
    font-size: 23px;
    padding: 0 10px;
}
body.theme-melon-theme-3 div#center-pane div.attribute-list {
    margin-top: 3px;
    margin-bottom: 3px;
    
}
body.theme-melon-theme-3 .gutter.gutter-horizontal {
    margin: -5px 0px -5px 0px;
}
body.theme-melon-theme-3 div#center-pane div.attribute-list.component div.all-attr-wrapper, body.theme-melon-theme-3 div#center-pane div.similar-notes-widget {
    padding: 0;
}

body.theme-melon-theme-3 div.component.title-row {
    align-items: center;
    padding: 0;

}
body.theme-melon-theme-3 div.note-title-container {
    height: 2.5rem;
    margin: 2px 0px 2px 7px;
}
